{% load staticfiles %}{% load account_tags %}{% load account_tags %}
<div class="sidebar ">
    <nav class="sidebar-nav ">
        <ul class="nav ">

            <div id="profile-pic">

                {% if request.user.profile.profile_picture == '' %}
                  <div class="pp" style="max-height:200px; overflow:hidden;">
                <img src="{% static 'strongholdcoins/img/placeholder.png' %}" style="width:150px !important;
                    padding:20px" alt="">
                  </div>
                {% else %}
                <div class="pp" style="max-height:200px; overflow:hidden;">
                    <img src="{{request.user.profile.profile_picture.url}}" style="width:150px !important;
                    padding:20px" alt="">
                </div>
{% endif  %}

            </div>


            <li class="nav-item"><a href="" class="nav-link">
                <h5>{{ request.user.profile.full_name }} </h5>
            </a></li>
            <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-dashboard fa-4x" aria-hidden="true"></i>Dashboard</a><li>
            <li class="nav-item"><a href="{% url 'account_settings' %}" class="nav-link"><i class="fa fa-cog"></i> Account</a></li>
        
            <li class="nav-item"><a href="{% url 'userprofile' %}" class="nav-link"><i class="fa fa-vcard fa-4x" aria-hidden="true"></i>Profile</a></li>

            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-rss fa-4x" aria-hidden="true"></i>Upcoming Events</a></li>

            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-inbox fa-4x" aria-hidden="true"></i>Notifications</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-podcast fa-4x" aria-hidden="true"></i>Activity</a></li>
            <!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-support fa-4x" aria-hidden="true"></i>Support</a></li>-->
            <!--<li class="nav-item"><a href="" class="nav-link">FAQs</a></li>-->
        </ul>
    </nav>
</div>}
}