{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden !important;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A local forex for cryptocurrencies">
        <meta name="author" content="Strongholdcoins">
        <meta name="keyword" content="Strogholdcoins Dashboard">
        <link rel="shortcut icon" href="img/favicon.png">
        <title>StrongHoldCoins</title>
        <!-- Icons -->
        <link href="{% static 'strongholdcoins/datatables/datatables.min.css' %}" rel="stylesheet">
        <link href="{% static 'strongholdcoins/datatables/databoot.css' %}" rel="stylesheet">
        <link href="{% static 'strongholdcoins/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'strongholdcoins/css/simple-line-icons.css' %}" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="{% static 'strongholdcoins/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'strongholdcoins/css/flatcolors/colors.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link href="{% static 'strongholdcoins/css/custom.css' %}" rel="stylesheet">

        <script src="{% static 'strongholdcoins/res/js/modernizr.js'%}"></script>

        <style>

table.dataTable tbody tr.even {
    background-color: #0d2940 !important;
}

            div#history_length {
    color: white !important;
}
            div#history_filter {
    color: white !important;
}
        </style>
    </head>

    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
        <a class="navbar-brand" href="{% url "home" %}">
            <img src="{% static 'strongholdcoins/img/logo-w.png' %}" class="img-responsive" alt="">
        </a>
        <div class="">{{timenow}}</div>
        <div class="navbar-right" style="margin-right:10px">
            <h6>{% if request.user.is_authenticated %}
                Hello,   {% if request.user.profile.first_name == "" %}
              {{ request.user.email }}
                {%else %}
               {{ request.user.profile.full_name }}
                {% endif %}   <a href="/account/logout" class="btn btn-sm btn-danger"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>{% endif %}</h6>

        </div>
        <!-- <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button> -->
    </header>


<!-- The overlay -->
<div id="dashboard-loader" class="overlay" style="overflow: hidden">

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="" class="lead">Please wait...

    </a>
  <div class="bubblingG">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>
  </div>

</div>


        <!-- Main content -->
    {% include "strongholdcoins/dashboard_views/actions_menu.html" %}

    {% block content %}



    {% endblock %}

    <footer class="app-footer row">
        <a href="http://coreui.io">StrongHoldCoins</a> © 2017 StrongHoldCoins.
        <span class="float-right">Powered by <a href="https://alpharalphkay.com">AlphaRalphkay</a>
    </span>
    </footer>


    <!-- Bootstrap and necessary plugins -->
    <script src="{% static 'strongholdcoins/res/js/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{% static 'strongholdcoins/js/fakeLoader.min.js' %}"></script>
    <script src="{% static 'strongholdcoins/js/app.js' %}"></script>


    <script src="{% static 'strongholdcoins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'strongholdcoins/datatables/databoot.js' %}"></script>

    <script src="{% static 'strongholdcoins/js/random.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="{% static 'strongholdcoins/js/chart/custom-chart.js' %}"></script>

    <script src="{% static 'strongholdcoins/js/ticker/jquery.newsTicker.js' %}"></script>
    <script src="{% static 'strongholdcoins/jqprint/jprint.min.js' %}"></script>
    <script src="{% static 'strongholdcoins/js/dashboard-controls.js' %}"></script>
    <script src="https://cryptocoinsnews.com/widget/bitcoin_widget.js.php" type="text/javascript"></script>

    <script>

        $('.newsticker').newsTicker();
        $('.newsticker1').newsTicker();
        $("#fakeloader").fakeLoader({
            timeToHide:1200, //Time in milliseconds for fakeLoader disappear
            zIndex:"999",//Default zIndex
            spinner:"spinner1",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
            bgColor:"#2ecc71", //Hex, RGB or RGBA colors

            });
        $(document).ready(function(){

            $('#history').DataTable();

           $('.printReceipt').on('click',function (e) {
               e.preventDefault();
                    $("#orderReceipt").print({
                    addGlobalStyles : true,
                    stylesheet : false,
                    rejectWindow : true,
                    noPrintSelector : ".no-print",
                    iframe : true,
                    append : null,
                    prepend : null
                });
           })

});


    </script>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '082c7f8d-f6b1-4ca0-84ab-5cf2b1aa29a3', f: true }); done = true; } }; })();</script>
    </body>
</html>