{% extends 'strongholdcoins/dashboard_views/base_layout.html' %}{% load bootstrap %}

{% block content %}
<main class="main">
<div class="container-fluid">                     
{% load widget_tweaks %}
	<div class="row" id="main-controls">
		<div class="col-6">                         <!-- Order Form Begins here -->

		<form action="" style="padding-top: 30px;" method="post" class=" bg-pher bg-dark text-white "
			  enctype="multipart/form-data">
            <h2 class="header text-white">Your Profile</h2>
		{%csrf_token%}


				{{profile_form | bootstrap}}
				<input type="submit" value="Save" class="btn btn-primary btn-lg">
		</form>
		

		</div>


        <div class="col-6" style="padding-top: 30px;">
            <div id="list-example" class="list-group">
                    <a href="" class="list-group-item active">Our Records about you</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-1"> <h6>Full name</h6>
                      {{request.user.profile.full_name}}</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-2"><h6>Email</h6>
                      {{request.user.email}}</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-3"><h6>Phone</h6>
                      {{request.user.profile.phone}}</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-4"><h6>Address</h6>
                    {{request.user.profile.address}}
                  </a>

                </div>
        </div>


</div>


</div>
</main>
{% endblock %}