{%load staticfiles%}
{% load i18n %}
{% load account_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>StrongHoldCoins - Homepage</title>

	<!-- Main CSS file -->
	<link rel="stylesheet" href="{% static 'cluster/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'cluster/css/owl.carousel.css' %}" />
	<link rel="stylesheet" href="{% static 'cluster/css/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'cluster/css/font-awesome.css' %}" />
	<link rel="stylesheet" href="{% static 'cluster/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'cluster/css/responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'strongholdcoins/css/custom-home.css' %}" />


	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'cluster/images/icon/favicon.png'%}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>

    <header id="header">




		<nav class="navbar st-navbar navbar-fixed-top">



			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
					</button>
					<a class="logo" href="{% url "home" %}"><img src="{% static 'strongholdcoins/img/logo.png' %} " alt=""></a>
				</div>

				<div class="collapse navbar-collapse" id="st-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
				    	<li><a href="#header">Home</a></li>
				    	<li><a href="#about-us">About Us</a></li>
				    	<li><a href="#services">Services</a></li>
				    	<li><a href="#how-it-works">How it works</a></li>
				    	<li><a href="#contact">Contact</a></li>
                    		    {% if request.user.is_authenticated %}
						   <li>
            <a href=""><i class="fa fa-user"></i> {{ request.user.profile.first_name }}</a>
        </li>

        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-cog"></i> {% trans "Dashboard" %}</a>
        </li>

    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
	</header>
	<!-- /HEADER -->


	<!-- SLIDER -->
	<section id="slider">

		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image: url({%static 'cluster/images/4.jpg'%});">
					<div class="carousel-caption container">
						<div class="row">
								<div class="">
								<h1 class="display-4">Join the Crypto Train</h1>

									<div class="container" style="padding: 20px;">
										<h5 class=" container display-3 lead" >
									Do you want to become part of the world most evolutionary currency? Strongholdcoins
                                            gets
                                            you
                                            started with ease.
									</h5>
									</div>
                                           {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
									<a href="{{ signup_url }}" class="btn btn-success btn-lg">GET STARTED TODAY</a>
									<!--<div class="text-white">-->
										<!--<a href="" class="text-white" style="color: #fff;">Log in</a> | <a href="" class="text-white" style="color: #fff;">Sign-->
										<!--up</a>-->
									<!--</div>-->

								 {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="lead">You can <a href="{{ login_url }}" class="text-white" style="color:white">Log In</a> or <a href="{{ signup_url }}" class="" style="color:white">Sign Up</a> to become a member</p>


            {% endif %}




							</div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url({%static 'cluster/images/2.jpg'%});">
					<div class="carousel-caption container">
						<div class="row">
								<div class="">
								<h1 class="display-4" STYLE="font-weight: 500;">1.25% FLAT RATE PER TRANSACTION</h1>

									<div class="container" style="padding: 20px;">
										<h5 class=" container display-3 lead" >
									BUY, SELL OR INVEST AT A FLAT RATE. <br>
                                            Enjoy transaction with ease and simplicity.
									</h5>
									</div>
                                           {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
									<a href="{{ signup_url }}" class="btn btn-success btn-lg">GET STARTED TODAY</a>
									<!--<div class="text-white">-->
										<!--<a href="" class="text-white" style="color: #fff;">Log in</a> | <a href="" class="text-white" style="color: #fff;">Sign-->
										<!--up</a>-->
									<!--</div>-->

								 {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="lead">You can <a href="{{ login_url }}" class="text-white" style="color:white">Log In</a> or <a href="{{ signup_url }}" class="" style="color:white">Sign Up</a> to become a member</p>


            {% endif %}




							</div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url({%static 'cluster/images/3.jpg'%});">
					<div class="carousel-caption container">
						<div class="row">
								<div class="">
								<h1 class="display-4" STYLE="font-weight: 500;">1.25% FLAT RATE PER TRANSACTION</h1>

									<div class="container" style="padding: 20px;">
										<h5 class=" container display-3 lead" >BUY, SELL OR INVEST AT A FLAT RATE. <br>
                                            Enjoy transaction with ease and simplicity.
									</h5>
									</div>
                                           {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
									<a href="{{ signup_url }}" class="btn btn-success btn-lg">GET STARTED TODAY</a>


								 {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="lead">You can <a href="{{ login_url }}" class="text-white" style="color:white">Log In</a> or <a href="{{ signup_url }}" class="" style="color:white">Sign Up</a> to become a member</p>


            {% endif %}




							</div>
						</div>
					</div>
				</div>


				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		</div> <!--/#home-carousel-->
    </section>
	<!-- /SLIDER -->
<section id="crypto-calculator">
		<div class="container">
			<div class="row">
				<p class="lead container text-center">We place more value for your money, we have a
                   <strong>1.25%</strong> flat rate for both selling, buying and investing! </p>
				<form action="">
                    	<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h6>Crypto Currency(USD)</h6>
							<h3>
								<select name="cryptoCurrency" id="cryptoCurrency" class="form-control">
								<option>Select Currency</option>
									<option value="Bitcoin">Bitcoin</option>
									<option value="Ethereum">Ethereum</option>
									<option value="Litecoin">Litecoin</option>
							</select>

							</h3>
					</div>
				</div>



					<div class="col-sm-6 col-md-2">
					<div class="fun-fact text-center">
						<h6>Amount(USD)</h6>
						<h3><input type="number" name="amount" id="amount" class="form-control"></h3>
					</div>
				</div>


				<div class="col-sm-6 col-md-2">
					<div class="fun-fact text-center">
						<h6>Coins</h6>
						<h3><input type="number" id="coins" readonly="readonly" name="coins" class="form-control"></h3>
					</div>
				</div>
				<div class="col-sm-6 col-md-2">
					<div class="fun-fact text-center">
						<h6>Fee(GHC)</h6>
						<h3><input type="number" readonly="readonly" name="fee" id="fee" class="form-control"></h3>
					</div>
				</div>

				<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h6>Amount to pay(GHC)</h6>
						<h3><input type="number" readonly="readonly" id="amount2pay" name="amount2Pay"
                                   class="form-control"></h3>
					</div>
				</div>
				</form>
			</div>
		</div>
	</section>



<!--About us-->

		<section id="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">


				</div>
	<div class="col-md-6">
					<img src="{% static 'strongholdcoins/img/2bit.png' %}" class="img-responsive" alt="">
				</div>
				<div class="col-md-6">
							<div class="list-group" style="margin-top: 40px">

								<div class="how-it-works">
						<h1>About us</h1>
						<span class="st-border"></span>
					</div>
								<p>
									StrongHoldCoins is a high-level vendor of cryptocurrencies based in Ghana. We are
                                    focused on helping both new and old customers who would like to trade in
                                    cryptocurrencies.
								</p>
                                <p>
                                    What makes me unique is our flat rate we offer on all kinds of transactions; be
                                    it selling, buying or investing. Topping our uniqueness is our comfortable
                                    customer experience.
                                </p>



		</div>



				</div>



			</div>

		</div>

	</section>

	<!-- SERVICES -->
	<section id="how-it-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="how-it-works">
						<h1>How-it-Works</h1>
						<span class="st-border"></span>
					</div>



				</div>

				<div class="col-md-6">
                <h5>
                <i class="fa fa-check-circle fa-1x"></i>
                    Create an account.
                </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at autem cumque dolorem dolores eos
                        fugit harum impedit incidunt.</p>

                     <h5>
                <i class="fa fa-check-circle fa-1x"></i>
                    Calculate your transaction amount.
                </h5>
                    <p>On the dashboard, you will find a calculator to make your calculations. It will give you an
                        idea as to how much you are to pay and how much the transaction fee will be.</p>

                     <h5>
                <i class="fa fa-check-circle fa-1x"></i>
                    Make your order.
                </h5>
                    <p>Enter your transaction amoun using the order control panel and make your order. Make sure you
                         choose your payment method.</p>

                     <h5>
                <i class="fa fa-check-circle fa-1x"></i>
                    Make your payment
                </h5>
                    <p>
                        Make your payment using the bank transfer or the mobile money to confirm order.
                    </p>

		        </div>




				
				<div class="col-md-6">
					<img src="{% static 'strongholdcoins/img/topb.png' %}" class="img-responsive" alt="">
				</div>

			</div>
		</div>
	</section>
	<!-- /SERVICES -->

		<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Why Choose Us</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-desktop"></i>Quick Transactions</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-cogs"></i>Live Support</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-code"></i>Comfortable Trading</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-dashboard"></i>Webinars/Serminars</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-life-ring"></i>Smart Platform</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-weixin"></i>Best Customer Experience</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- /SERVICES -->




	<!-- TESTIMONIAL -->
	<section id="testimonial">
		<div class="container">
			<div class="row">
				<div class="overlay"></div>
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="st-testimonials">

						<div class="item active text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Tom Roof</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cumconsectetur adipisicing elit. Amet dolore"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Mustafiz</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem autem possimus laborum, ducimus vel rerum asperiores delectus, suscipit voluptate mollitia, ullam perspiciatis voluptates!"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Sean Hynes</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /TESTIMONIAL -->



	<!-- FUN FACTS -->
	<!--<section id="fun-facts">-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-sm-6 col-md-3">-->
					<!--<div class="fun-fact text-center">-->
						<!--<h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">365</span></h3>-->
						<!--<p>Happy Clients</p>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="col-sm-6 col-md-3">-->
					<!--<div class="fun-fact text-center">-->
						<!--<h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">73987</span></h3>-->
						<!--<p>Completed Projects</p>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="col-sm-6 col-md-3">-->
					<!--<div class="fun-fact text-center">-->
						<!--<h3><i class="fa fa-coffee"></i> <span class="st-counter">297345</span></h3>-->
						<!--<p>Cups of Coffee</p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-sm-6 col-md-3">-->
					<!--<div class="fun-fact text-center">-->
						<!--<h3><i class="fa fa-code"></i> <span class="st-counter">9823686</span></h3>-->
						<!--<p>Lines of Code</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<!-- /FUN FACTS -->


	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Contact us</h1>
						<span class="st-border"></span>
					</div>
				</div>
				<div class="col-sm-4 contact-info">
					<p class="contact-content">Contact us using the following address and social handles.</p>
					<p class="st-address"><i class="fa fa-map-marker"></i> <strong>E71 8th Ave, New York NY 21001, US</strong></p>
					<p class="st-phone"><i class="fa fa-mobile"></i> <strong>+00 123-456-789</strong></p>
					<p class="st-email"><i class="fa fa-envelope-o"></i> <strong>email@yourdomain.com</strong></p>
					<p class="st-website"><i class="fa fa-globe"></i> <strong>www.strongholdcoins.com</strong></p>

				</div>
				<div class="col-sm-7 col-sm-offset-1">

				</div>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-push-6 footer-social-icons">
					<span>Follow us:</span>
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-google-plus"></i></a>
					<a href=""><i class="fa fa-pinterest-p"></i></a>
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>&copy; 2017 <a href="">Strongholdcoins.com</a>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->


	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>


	<!-- JS -->
	<script type="text/javascript" src="{% static 'cluster/js/jquery.min.js'%}"></script><!-- jQuery -->
	<script type="text/javascript" src="{% static 'cluster/js/bootstrap.min.js'%}"></script><!-- Bootstrap -->
	<script type="text/javascript" src="{% static 'cluster/js/jquery.parallax.js'%}"></script><!-- Parallax -->
    <script type="text/javascript" src="{% static 'cluster/js/smoothscroll.js'%}"></script><!-- Smooth Scroll -->
    <script type="text/javascript" src="{% static 'cluster/js/masonry.pkgd.min.js'%}"></script><!-- masonry -->
    <script type="text/javascript" src="{% static 'cluster/js/jquery.fitvids.js'%}"></script><!-- fitvids -->
    <script type="text/javascript" src="{% static 'cluster/js/owl.carousel.min.js'%}"></script><!-- Owl-Carousel -->
    <script type="text/javascript" src="{% static 'cluster/js/jquery.counterup.min.js'%}"></script><!-- CounterUp -->
    <script type="text/javascript" src="{% static 'cluster/js/waypoints.min.js'%}"></script><!-- CounterUp -->
    <script type="text/javascript" src="{% static 'cluster/js/jquery.isotope.min.js'%}"></script><!-- isotope -->
    <script type="text/javascript" src="{% static 'cluster/js/jquery.magnific-popup.min.js'%}"></script><!-- magnific-popup -->
    <script type="text/javascript" src="{% static 'cluster/js/scripts.js'%}"></script><!-- Scripts -->

    <script src="{% static 'strongholdcoins/js/crypto.js' %}"></script>
    <script src="{% static 'strongholdcoins/js/home-app.js' %}"></script>


</body>
</html>